body {background: rgb(114, 89, 255,0.2); 
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.2rem;
    line-height: 1.4em;
    margin: 0;}
    
    p{margin-bottom: 1.6em;
        color: rebeccapurple;
    }
    
    .container{width: 85%;
    max-width: 850px;
    margin: 0 auto;}
    
    h1{font-size: 2rem;
    line-height: 1.3em;
    text-align: center;
    color:rgb(14, 6, 94);
    }
    
    h1 h2 {font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;}

    .container-button button{font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1rem;}

    .logo img {width: 64px;
    height: 64px;}

    h2{text-align: center;
    color: rgb(224, 193, 15);}

    .header{
        background: rebeccapurple;
        color: black;
        padding: 2rem 0;
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        bottom: 470px;
    }

    .header a {
        color: white;
        text-decoration: none;
        padding: 2rem 0;
    }
    .logo-nav-container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    }
    
    .main {
        padding-top: 17rem;
    
    }
    
    .navigation ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }
    
    .navigation ul li {
        display: inline-block;
    
    }
    
    .navigation ul li a {
        display: block;
        padding: 0.5rem 1rem;
        transition: all 0.3s linear;
        border-radius: 5px;
    }
    
    .navigation ul li a:hover {
        background: white;
        color: black;
    }
    
    .menu-icon {display: none;
    }

    .container-button {
        display: flex;
        justify-content: center;
    }
    
    .container-button button{
        background: rebeccapurple;
        border-radius: 12px;
        color: white;
        box-shadow: black 12px 12px 0.9;
        text-decoration: none;

    }

    .container-button div button:hover{
        background: white;
        color: black;

    }

    @media only screen and (max-width: 650px){
    
        body{background: white;
            font-family: Georgia, 'Times New Roman', Times, serif;
            font-size: 1.2rem;
            line-height: 1.4em;
            margin: 0;}

        .menu-icon{
            display: flex;
            cursor: pointer;
    
        }
    
        .navigation {
            width: 100%;
            margin-top: 1rem;
        }
        
        .navigation ul{
        display: none;
        }
    
        .navigation ul.show{
            display: block;
        }
    
        .navigation ul li {
            display: block;
        
        }
        
        .navigation ul li a {
            display: block;
            padding: 0.5rem 1rem;
            transition: all 0.3s linear;
            border-radius: 5px;
        }
        
        .navigation ul li a:hover {
            background: gray;
        }
        
    
    }
    
    
    